---
import "../styles/global.css";
import "@fontsource/marck-script";
import logo from "../assets/logo.png";
import icono from "../assets/icono.png";
---

<header class="relative w-full h-fit">
  <div
    class="absolute w-full flex flex-row justify-between z-[99] items-center p-4"
  >
    <img src={logo.src} alt="Logo de la empresa" class="w-64" />
    <p
      class="absolute left-1/2 top-[35%] -translate-x-1/2 -translate-y-1/2 text-white text-5xl font-marck"
    >
      Bienvenidos
    </p>
    <span></span>
  </div>
  <div class="absolute z-10 w-full h-64 top-0"></div>
</header>
