---
import "../styles/global.css";
import logo from "../assets/logo.png";
import WaveBackground from "../components/WaveBackground.astro";
import BackgroundSlider from "./BackgroundSlider.jsx";
import icono from "../assets/icono.png";
import "@fontsource/marck-script";
---

<header class="relative w-full h-fit">
  <div class="absolute w-full flex flex-row justify-between z-[99] items-center p-4">
    <img src={icono.src} alt="Logo de la empresa" class="w-38" />
    <p class="text-black text-6xl font-marck">Bienvenidos</p>
    <span></span>
  </div>
  <div class="absolute z-10 w-full h-64 top-0">
    <WaveBackground />
  </div>
</header>
